<h1><%= @recipe.name %></h1>
<p>Preparation Time: <%= @recipe.preparation_time %> minutes</p>
<p>Cooking Time: <%= @recipe.cooking_time %> minutes</p>
<p>Description: <%= @recipe.description %></p>
<p>Public: <%= @recipe.public ? 'Yes' : 'No' %></p>
<p>Created by: <%= @recipe.user.email %></p> <!-- Assuming email exists in User -->
